<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_base.html}">

<div layout:fragment="title">
      <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>도서 작성</h3>
            <p class="text-subtitle text-muted">도서 등록</p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                  <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Book List</li>
                  </ol>
            </nav>
      </div>
</div>

<div layout:fragment="content">
	<div class="card">
            <div class="card-header">
                <h4 class="card-title">도서 등록</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal" action="/books/create" method="post">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>책 제목</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input type="text" id="book-title" class="form-control"
                                        name="title" placeholder="책 제목 입력">
                                </div>
                                <div class="col-md-3">
                                    <label>저자</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input type="text" id="book-writer" class="form-control"
                                        name="writer" placeholder="저자">
                                </div>
                                <div class="col-md-3">
                                    <label>발행일</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input type="date" id="book-releaseDate" class="form-control"
                                        name="releaseDate" placeholder="발행일">
                                </div>
                                <div class="col-md-3">
                                    <label>가격</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input type="text" id="book-price" name="price" class="form-control" placeholder="가격">
                                </div>

                                <!-- <div class="col-12 col-md-9 offset-md-4 form-group">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1"
                                                class='form-check-input' checked>
                                            <label for="checkbox1">Remember Me</label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit"
                                        class="btn btn-primary me-1 mb-1">저장</button>
                                    <a href="/books/list" class="btn btn-light-secondary me-1 mb-1">취소</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>