<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_base.html}">

<head>
	<title>Book Detail</title>
</head>

<div layout:fragment="content">
	<div class="row vh-100">
		<div class="col-12">
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4">책정보 상세</h6>
				<!-- <form action="/books/register" method="post"> -->
					<div class="row mb-3">
						<label for="inputTitle" class="col-sm-2 col-form-label">번호</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:value="${dto.bookId}" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputTitle" class="col-sm-2 col-form-label">책 제목</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:value="${dto.title}" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputWriter" class="col-sm-2 col-form-label">저자명</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:value="${dto.writer}" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputReleaseDate" class="col-sm-2 col-form-label">출판일</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" th:value="${dto.releaseDate}" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputPrice" class="col-sm-2 col-form-label">가격</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" th:value="${dto.price}" id="price" readonly>
						</div>
					</div>
					<div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
						<a th:href="|@{/books/modify(bookId=${dto.bookId})}&${link}|" class="btn btn-primary">수정</a>
						<a th:href="|@{/books/list}?${link}|" class="btn btn-secondary">목록</a>
					</div>
				<!-- </form> -->

				<div class="col">
					<div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}" style="width:150px;height:150px;">
						<a data-bs-target="#gallaryModalToggle" data-bs-toggle="modal">
							<img class="card-img-top"
							style="width:150px;height:150px;"
							th:each="fileName: ${'s_' + dto.fileNames}"
							th:src="|/view/${fileName}|">
						</a>
						
					</div>
				</div><!--end card-->
			</div>
		</div>
	</div>

	<div class="modal fade" id="gallaryModalToggle" aria-hidden="true" aria-labelledby="gallaryModalToggleLabel" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="gallaryModalToggleLabel">표지</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<img class="card-img-top"
						th:each="fileName: ${dto.fileNames}"
						th:src="|/view/${fileName}|">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
			</div>
		  </div>
		</div>
	  </div>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/upload.js"></script>
</div>

<script layout:fragment="bottomScript" th:inline="javascript">
	// jQuery로 드롭다운 부분 재처리하기
	$("#alertsDropdown").click(function() {
		if($(this).hasClass("show")){
			$(this).removeClass("show");

		}else{
			$(this).addClass("show");
		}
	});

	$("#messagesDropdown").click(function() {
		if($(this).hasClass("show")){
			$(this).removeClass("show");

		}else{
			$(this).addClass("show");
		}
	});

	$("#profileDropdown").click(function() {
		if($(this).hasClass("show")){
			$(this).removeClass("show");

		}else{
			$(this).addClass("show");
		}
	});

</script>