<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_base.html}">

<head>
	<title>Book Detail</title>
</head>

<div layout:fragment="content">
	<div class="row vh-100">
		<div class="col-12">
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4">책정보 상세</h6>
				<!-- <form action="/books/register" method="post"> -->
					<div class="row mb-3">
						<label for="inputTitle" class="col-sm-2 col-form-label">번호</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:value="${dto.bookId}" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputTitle" class="col-sm-2 col-form-label">책 제목</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:value="${dto.title}" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputWriter" class="col-sm-2 col-form-label">저자명</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:value="${dto.writer}" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputReleaseDate" class="col-sm-2 col-form-label">출판일</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" th:value="${dto.releaseDate}" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputPrice" class="col-sm-2 col-form-label">가격</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" th:value="${dto.price}" id="price" readonly>
						</div>
					</div>
					<div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
						<a th:href="|@{/books/modify(bookId=${dto.bookId})}&${link}|" class="btn btn-primary">수정</a>
						<a th:href="|@{/books/list}?${link}|" class="btn btn-secondary">목록</a>
					</div>
				<!-- </form> -->
			</div>
		</div>
	</div>
</div>

<script layout:fragment="bottomScript" th:inline="javascript">
</script>